/* about.css odpowiada za sekcję "about" */

h1 {
    margin: 0px;
}

#about-us {
    background-color: coral;

    margin-top: 32px;
    padding: 10px;
    padding-left: 16px;

    text-align: justify;
}

#about-text {
    font-size: 150%;
}