/* main.css ma odpowiadać za właściwości stałe dla całego dokumentu oraz za nawigację */
/* 
Używanie remów i emów:
em-y są zależne od wcześniej zadanego font-size
rem-y są niezależne od wcześniej zadanego font-size (od wartości root-a: defaultowo 16px)

zmiana roota:

:root {
    font-size: 32px;
}
*/

body {
    margin: 0px;
}

.naglowek {
    text-align: center;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

ul#navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;
    margin: 10px;
    margin-left: 0px;
    padding: 10px;
    padding-left: 0px;
}

li {
    display: block;
    flex-grow: 1;
    
    padding: 20px;
    
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

li a {
    padding-left: 50%;

    font-size: 20px;
    text-decoration: none;
}

li:hover {
    background-color: black;
}