#about-us {
    background-color: coral;
}

#skill-1 {
    float: left;
    height: 100px;
    width: 100px;
    background-color: rgb(70, 185, 185);
}

#skill-2 {
    float: left;
    height: 100px;
    width: 100px;
    background-color: rgb(95, 175, 101);
}

#skill-3 {
    float: left;
    height: 100px;
    width: 100px;
    background-color: rgb(211, 76, 76);
}

#skill-4 {
    float: left;
    height: 100px;
    width: 100px;
    background-color: rgb(193, 235, 80);
}

.skill {
    position: relative;
    margin: 0px;
    text-align: center;
    top: 41px;
}